# Recover Overwitten Splits

In [1]:
import numpy as np
import pandas as pd
import twint
import time
from datetime import datetime
from datetime import timedelta, date
from collections import Counter
from ast import literal_eval

pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_colwidth', 199)
pd.options.display.float_format = '{:.2f}'.format

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

import nest_asyncio
nest_asyncio.apply()

from os import listdir
from os.path import isfile, join

In [2]:
# ALL_USER_IDS_PATH_MASTER = r"C:/Users/crackcocaine69xxx/Python Stuff/594/Twint/Getting Conspiracy Hashtag Users/All User IDs.csv"

# MASTER_USER_IDS = pd.read_csv(ALL_USER_IDS_PATH_MASTER)

In [3]:
split_5_path = r"C:/Users/crackcocaine69xxx/Python Stuff/594/Twint/Looking Up All Conspiracy Hashtag User Tweets/All Conspiracy Tweeters' Tweets/Split 5"

In [4]:
def recover_searched_ids(path):
    
    searched_users = [int(f.split('_')[0]) for f in listdir(path) if isfile(join(path, f))]
     
    return searched_users

In [5]:
def recreate_search_updated_dataset(split):
    '''
    split = int detailing which split of the dataset we're recovering
    '''
    
    split_n_path = r"C:/Users/crackcocaine69xxx/Python Stuff/594/Twint/Looking Up All Conspiracy Hashtag User Tweets/All Conspiracy Tweeters' Tweets/Split" + " " + str(split)
    
    searched_users = np.array(recover_searched_ids(split_n_path))
    
    split_n = pd.read_csv(r"C:/Users/crackcocaine69xxx/Python Stuff/594/Twint/Getting Conspiracy Hashtag Users/All User IDs.csv").set_index('ID')
    
    split_n = split_n.iloc[split::10]
    
    
    split_n['Searched'].loc[searched_users] = 1

    return split_n

    
#     split_n.loc[searched_users]['Searched'] = 1
    return split_n.loc[searched_users]
    
#     return split_n

In [6]:
test = recreate_search_updated_dataset(5)

In [7]:
test

                     Num CT Tweets  Searched
ID
1279658870                    1256         1
1063880560190341121            661         1
1159073503267758080            211         1
271366210                      288         1
1665847111                     151         1
...                            ...       ...
1314979119910723584              1         0
39268010                         1         0
292593116                        1         0
284900124                        1         0
45291053                         1         0

[94917 rows x 2 columns]